@page "{taskId:int}"
@model TaskingBoss.DetailModel
@{
    ViewData["Title"] = "Task details";
}

@if (Model.Message != null)
{
    <div class="col-12 m-0">
        <div class="alert alert-success" role="alert">
            @Model.Message
        </div>
    </div>
}


<div class="col-md-8 border border-secondary rounded m-2 p-3">

    <h3>@Model.Task.Title</h3>

    <hr />

    <h5>Description:</h5>
    <p>@Model.Task.Description</p>

    <hr />

    <div class="row">
        <div class="col mx-4 text-center">
            <span>Status:</span>
            <h5>@Model.Task.Status</h5>
        </div>
        <div class="col mx-4 text-center">
            <span>Priority:</span>
            <h5>@Model.Task.Priority</h5>
        </div>
        <div class="col mx-4 text-center">
            <span>Story Points:</span>
            <h5>@Model.Task.StoryPoints</h5>
        </div>
    </div>

    <hr />

    <h5 class="text-secondary">Activity Log:</h5>
    <p class="text-secondary small">Task created at @Model.Task.CreateDate</p>

</div>

<div class="col border border-secondary rounded m-2 p-3">

    <h5>Actions:</h5>
    <a class="btn btn-outline-primary btn-block" data-toggle="collapse" href="#collapseExample" role="button">Move to</a>

    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <a asp-page="./Edit" asp-route-taskId="@Model.Task.Id" class="btn btn-outline-primary btn-sm btn-block disabled">Backlog (Current)</a>
            <a asp-page="./Edit" asp-route-taskId="@Model.Task.Id" class="btn btn-outline-primary btn-sm btn-block">Sprint</a>
            <a asp-page="./Edit" asp-route-taskId="@Model.Task.Id" class="btn btn-outline-primary btn-sm btn-block">Doing</a>
            <a asp-page="./Edit" asp-route-taskId="@Model.Task.Id" class="btn btn-outline-primary btn-sm btn-block">Blocked</a>
            <a asp-page="./Edit" asp-route-taskId="@Model.Task.Id" class="btn btn-outline-primary btn-sm btn-block">QA</a>
            <a asp-page="./Edit" asp-route-taskId="@Model.Task.Id" class="btn btn-outline-primary btn-sm btn-block">Done</a>
        </div>
    </div>

    <hr />

    <a asp-page="./Edit" asp-route-taskId="@Model.Task.Id" class="btn btn-outline-secondary btn-sm btn-block">Edit</a>
    <a asp-page="#" asp-route-taskId="@Model.Task.Id" class="btn btn-outline-secondary btn-sm btn-block disabled">Copy</a>
    <a asp-page="#" asp-route-taskId="@Model.Task.Id" class="btn btn-outline-secondary btn-sm btn-block disabled">Archive</a>
    <a asp-page="#" asp-route-taskId="@Model.Task.Id" class="btn btn-outline-secondary btn-sm btn-block disabled">Share</a>

    <hr />

    <a asp-page="./Delete" asp-route-taskId="@Model.Task.Id" class="btn btn-outline-danger btn-sm btn-block">Delete</a>

</div>





